.banner{
  
    background-image: url(../../../../../assets/Banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 91vh;
   
   font-family: 'Righteous', cursive;
 }
 h1{
  color: #70f7fa;
  word-spacing: 0.25rem;
  letter-spacing: .25rem;
 }