
.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.titulo{
    
    text-align: center;
    margin: 8rem 0;

}
.card{
    border: 2px solid rgb(42, 245, 238);
    
    margin: 2rem;
    
}

.btn{
    color: rgb(42, 245, 238);
    
    border-color: rgba(42, 245, 184, 1);
}
.btn:hover{
    color: #1a1c33;
}
