<app-nav></app-nav>
<div class="container" *ngIf="expLab">
  <div class="row">
    <div class="">
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombreE"> Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombreE"
            name="nombreE"
            [(ngModel)]="expLab.nombreE"
            required
          />

          <label for="descripcionE"> Descripcion del trabajo</label>
          <input
            type="text"
            class="form-control"
            id="descripcionE"
            name="descripcionE"
            [(ngModel)]="expLab.descripcionE"
            required
          />
        </div>

        <button class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </div>
</div>