<section class="container">
  <article class="row">
    <h1 class="h1 fw-bold fs-1 ms">Experencia Laboral</h1>

    <div class="col-lg-11 py-5 ps-5" >
      <ul>
        <li>
          <h2 class="h2">Repo</h2>

          <h3 class="text-muted h3"> - (yeras )</h3>
        </li>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quaerat nisi, cumque veniam error nostrum neque mollitia velit fuga, ipsum quos iure aliquid recusandae dignissimos.
        </p>
      </ul>
    
    </div>
  </article>
</section>
