<div class="container">
  <div class="row text-center">
    <h1 class="h1 mb-4">Hard & Soft skills</h1>
    <div class="col-md-4 col-12">
      <circle-progress
        [percent]="85"
        [radius]="100"
        title="HTML"
        [titleColor]="'#FFF'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="7"
        [outerStrokeColor]="'rgb(42, 245, 238)'"
        [innerStrokeColor]="'rgba(42, 245, 184, 1)'"
        [animation]="true"
        [animationDuration]="900"
      ></circle-progress>
    </div>
    <div class="col-md-4 col-12">
        <circle-progress
          [percent]="85"
          [radius]="100"
          title="CSS"
          [titleColor]="'#FFF'"
          [showSubtitle]="false"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="7"
          [outerStrokeColor]="'rgb(42, 245, 238)'"
          [innerStrokeColor]="'rgba(42, 245, 184, 1)'"
          [animation]="true"
          [animationDuration]="1200"
        ></circle-progress>
      </div>
      <div class="col-md-4 col-12">
        <circle-progress
          [percent]="85"
          [radius]="100"
          title="Ingles"
          [titleColor]="'#FFF'"
          [showSubtitle]="false"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="7"
          [outerStrokeColor]="'#78C010'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="900"
        ></circle-progress>
      </div>
  </div>
</div>
