.btn{
     color: rgb(42, 245, 238);
     width: 5.25rem;
     border-color: rgba(42, 245, 184, 1);
     transition: all 400ms;
 }

.btn:hover{
     color: #1a1c33;
     transform: scale(1.20);
 }

img {
    transition: all 400ms;
}

img:hover{
    transform: scale(1.20);
 }

.logOut{
    font-size: 0.90rem;
}
