<section class="container">
  <article class="row">
    <div class="d-flex align-items-center ">
      <h1 class="h1 fs-1 fw-bold ms">Educacion</h1>
      <button  routerLink="/nuevaest" class="material-icons add ms-5" 
      *ngIf="isLogged"> add </button>
    </div>

    <div class="col-lg-11 py-5 ps-5" *ngFor="let Estudio of est">
      <ul>
        <li>
          <h2 class="h2">{{Estudio.nombreEs}}</h2>
        </li>

        <p>
          {{Estudio.descripcionEs}}
        </p>

        
        <button class="material-icons edit ms-3" *ngIf="isLogged" routerLink="/editest/{{Estudio.id}}" >edit</button>

        <button class="ms-3 material-icons delete" *ngIf="isLogged" 
        (click)="delete(Estudio.id)"
        >delete</button>
      </ul>
    </div>
  </article>
</section>
