<section class="container">
  <article class="row">
    <h1 class="h1 fs-1 fw-bold ms">Educacion</h1>

    <div class="col-lg-11 py-5 ps-5">
      <ul>
        <li>
          <h2 class="h2">Estudio 1</h2>

          <h3 class="text-muted h3"> - (years)</h3>
        </li>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis et
          incidunt, quia quae fugit dicta animi quam quaerat placeat,
          reprehenderit tempora beatae, praesentium suscipit ducimus. Culpa,
          cupiditate aspernatur dolorum veritatis reprehenderit, cumque ipsa rem
          molestiae animi distinctio eos velit corrupti?
        </p>
      </ul>
      <ul>
        <li>
          <h2 class="h2">Estudios 2</h2>

          <h3 class="text-muted"> - (years)</h3>
        </li>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis et
          incidunt, quia quae fugit dicta animi quam quaerat placeat,
          reprehenderit tempora beatae, praesentium suscipit ducimus. Culpa,
          cupiditate aspernatur dolorum veritatis reprehenderit, cumque ipsa rem
          molestiae animi distinctio eos velit corrupti?
        </p>
      </ul>
      <ul>
        <li>
          <h2 class="h2">Estudios 3</h2>

          <h3 class="text-muted"> - (years)</h3>
        </li>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis et
          incidunt, quia quae fugit dicta animi quam quaerat placeat,
          reprehenderit tempora beatae, praesentium suscipit ducimus. Culpa,
          cupiditate aspernatur dolorum veritatis reprehenderit, cumque ipsa rem
          molestiae animi distinctio eos velit corrupti?
        </p>
      </ul>
    </div>
  </article>
</section>
