
<div class="container-fluid d-flex justify-content-center align-items-center ">
   <form class=" w-25  fw-bolder fs-4">
    <div class="text-center">
      <img src="../../../assets/logo-img.png" class="img-fluid " alt="..." width="250rem">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email </label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Escriba su email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Escriba su contraseña">
    </div>
   
    <div class="text-center">
      <button type="submit" class="btn btn-outline-info mt-md-3 fw-bold px-md-4 py-md-2 ">Ingresar</button>
    </div>
  </form>
</div>