<div class="container  pb-5 mb-5">
    <div class="row  d-flex align-items-md-center ">
        <div class=" col-md-2 col-12 fotoPerfil">
            <img src="../../../../../assets/fotografia-perfil.jpg" alt="Foto de Perfil" class="img-fluid rounded-circle">
        </div>

        <div class="col-md-5 col-12 text-center-md pt-5 pt-md-0 ms-md-5">
            <p>Leonel Matias Saliol</p>
            <p>Full Stack Developer Jr.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-12">
            <span>
                <h2 class="mt-5">Acerca de mi</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam neque voluptatibus perferendis adipisci eos cumque. Aliquam repellendus modi a blanditiis asperiores nostrum maxime praesentium officiis at? Autem vero ut iure pariatur veniam, obcaecati itaque placeat natus ipsam vel asperiores tempora?</p>
            </span>
        </div>
    </div>
    
</div>
